/* Navbar */

@media screen and (max-width: 768px) {
    ul.navbar-nav a {
        display: block;
    }
    .navbar-search-form.form-inline.my-2-lg-0.ml-0.pl-5{
        display: block;
        width: 100vw !important;
        padding-left: 0 !important;
        padding-top: 25px; 
        padding-bottom: 25px;
    }
    ul.navbar-nav.ml-auto{
        display: block !important;
    }
}

