#landing_bg_wrapper{
    margin-top: 30px;
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.bg_layer{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.bg_layer .bg_content_wrap{
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.bg_layer img{
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_layer h1{
    font-size: 2em;
}

.bottom{
    background: #222;
    z-index: 1;
}

.bottom .bg_content_body{
    right: 5%;
}

.bottom h1{
    color: antiquewhite;
}

.top{
    background: #EEE;
    z-index: 2;
    color: #222;
    width: 50vw;
}

.top .bg_content_body{
    left: 5%;
    color: #222;
}

.handle{
    position: absolute;
    height: 100%;
    background-color: antiquewhite;
    top: 0;
    left: 50%;
    z-index: 3;
    display: block;
    width: 5px;
}

.skewed .handle{
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}

.skewed .top{
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .bg_content_wrap{
    transform: skew(30deg);
    margin-left: 1000px;
}

@media(max-width:768px){
    #landing_bg_wrapper{
        font-size: 75px;
   }
}