@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font: 13px/2.1rem "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: Poppins
}
  .navbar-expand-lg{
      background: #FFFFFF !important;
      bottom: -27px !important;
  }

/* search box style begins */
.searchbox{
    position: absolute;
    top: 57%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 53px;
    border-radius: 45%;
    padding: 10px; 
}

h2.t_n_c{
    border-bottom: 1px solid #555;
}

.searchbtn{
    color: #2c2727;
    width: 30px;
    float: right;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.searchbtn:hover{
    color: #28a745;
}

.searchbox >form:hover>.searchtext{
    padding: 0 6px;
    width: 150px;
    border-bottom: #999 1px solid;
    z-index: 5;
}

.searchtext{
    outline: none;
    border: none;
    background: none;
    float: left;
    color: #777;
    padding: 0%;
    font-size: 12px;
    line-height: 20px;
    transition: 0.5s;
    width: 0px;
}
/* search box style ends */

  .signup_cta_btn{
      background: #000000;
      color: #FFFFFF;
  }

  .signup_cta_btn:hover{
      background: #28a745;
      color: #FFFFFF;
  }

  #i_accept_terms_and_condtions{
      margin-right: 15px !important;
  }

  .firstNav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top{
      background-color:#FEFEFE !important;
  }

  .firstNav.navbar.ul.li{
      padding-top: 70px;
  }

  ul.mainNavMenu{
      text-transform: capitalize !important;    
  }

  .dropdown:hover>.dropdown-menu{
      display: block;
  }

.navbar-brand img{
	padding-left: 0px;
}

.secondNav{
    padding-top: 45px;
}

.showcase h1{
    font-size: 2.3x;
    margin-bottom: 15px;
    padding-top: 8px;
}

.showcase-btn{
    background-color: transparent;
    border: 1px solid;
    border-radius: .25rem;
    border-color: #28a745;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    color: #28a745 !important;
}

.showcase-btn:hover{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
    border-color: #28a745;
}

#testimonial{
    background: #F1F1F1;
    padding: 50px 0 30px 0;
    text-align: center;
}

#testimonial p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#testimonial p.user{
    font-size: 13px;
    color: #999;
}

#how_we_do_it{
    background: rgb(126, 122, 122);
    min-height: 400px;
    color: #eee;
    position: relative;
    text-align: center;
}

#how_we_do_it h1{
    padding-top: 35px;
    text-transform: uppercase;
    font-size: 3.1rem;
}

#how_we_do_it p{
    font-size: 1.3rem;
    padding-top: 15px;
    line-height: 30px;
}

.btn.btn-how-we-it-cta{
    background: #eeeeee;
    min-width: 160px;
    font-size: 1.2rem;
    color: rgb(126, 122, 122);
    text-transform: uppercase;
}

.btn.btn-how-we-it-cta:hover{
    color: #2c2727;
}

h1.landing_content{
    color: #eeeeee;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 67px;
    text-align: justify;
    font-size: 3.2rem;
}

p.landing_banner_left_text{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    text-align: justify;
    color: #eee;
    font-size: 1.3rem;
}

.btn.btn_explore_services_cta{
    background: #eeeeee;
    margin-left: 100px;
    margin-top: 30px;
    min-width: 180px;
    font-size: 1.7rem;
    color: #2c2727;
    
}
.brand-logo:hover{
	color: #FFFFFF;

}

.card.card-image.services_main_card{
    background: url('../images/cards/main_services_card.jpeg');
    background-size: cover;
    width: 100%;
    height: 420px;
    max-width: 100%;
    border-radius: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.services_card_text{
    position: absolute;
    width: 100%;
    top: 50px;
    right: -310px; 
}

.row.mx-1{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

p.pb-3{
    font-size: 1.2rem;
}

.card.card-image.service_section.cat1{
    background: url('../images/cards/cat1.jpeg');
    background-repeat: no-repeat;
    background-size: 100;
    height: auto;
    
}

.service_request_cta.btn.btn-secondary.btn-rounded{
    background: none;
    border: 1px solid #eeeeee;
    min-width: 75px;
    background: transparent !important;
}

.card.card-image.about_page_banner{
    background: url('../images/cards/about_bg.jpeg');
    background-size: 100%;
    min-height: 450px;
    max-width: 100vw;
    border-radius: 0;
    position: relative;
}

.about_card_text{
    position: absolute;
    width: 100%;
    top: 150px;
    right: -510px; 
}

.about-btn{
    background: none;
    border: 1px solid #eeeeee;
    min-width: 75px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn.btn-success.btn-lg.showcase-btn.about_us_btn{
    color: #FFFFFF !important;
}

.about-btn.btn.btn-secondary.btn-rounded{
    background: transparent !important;
}

.navbar-form.navbar-left{
	position: relative;
	bottom: -27px;
}

.about_prostaright_bg_img{
    background: url('../images/showcase/prosta-right-tea.JPG') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 550px;
    margin-top: 30px;
    object-fit: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
}

.schedule_appointment{
    background: url('../images/features/appointment.jpeg');
    background-size: 100%;
}

.container.main-nav{
    padding: 0px;
}

section.signup-banner{
    width: 100%;
    padding-top: 100px;
}

.nav-link.cta-signup{
    background-color: transparent;
    border: 1px solid;
    border-radius: .25rem;
    width: 80px;
    border-color: #28a745;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    height: 34px;
    
}

section.contact_us{
    background: rgb(206, 245, 229)
}

.nav-link.cta-signup:hover{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
} 

.cta-shop_now{
    margin-right: 20px;
}

.nav-link.cta-login{
    border: 1px solid;
    border-radius: .25rem;
    width: 80px;
    border-color: #000000;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF !important;
    margin-left: 20px;
}

.nav-link.cta-login:hover{
    border: 1px solid #28a745 !important;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #28a745;
    color: #FFFFFF !important;
}
.mainNavMenu{
    margin-left: 70px;
    text-transform: uppercase !important;
}

img{
    display: block !important;
    width: 100 !important;
    height: auto !important;
}

#about_prostaright_bg_content{
    margin-top: 0px;
    padding-top: 0px;
}

#about_prostaright_bg_content h2{
    text-align: center;
    font-size: 2.2em;
    color: #555;
}

/* #about_prostaright_bg_content ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(minmax(auto, 20vw)) 1fr;
    grid-column-gap: 1vw;
} */
#about_prostaright_bg_content li{
   
    font-size: 1.1em;
    line-height: 35px;
    list-style-type: square;
    display: list-item;
    list-style-position: inside;
    color: #3aac54;
   
}

#about_prostaright_bg_content p{
    text-align: center;
    color: #999;
    font-size: 1.2em;
}

.product_odering h3{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
}

.product_odering p{
    color: #CCCCCC;
    text-align: justify;
    font-size: 1.1em;
}

/* Order Summary */
main.order_summary{
    margin-top: 90px;
    background-color: azure;
    min-height: 50vh;
}

.order_summary h2{
    margin-top: 20px;
}

section.checkout{
    margin-top: 65px;
    background: azure;
    min-height: 50vh;
}

section.checkout h2{
text-align: center;
color: #555;
margin-bottom: 25px;
}

.containter.article{
    margin-top: 50px;
}

.fa.mr-2.ml-2.fa-shopping-cart.fa-2x::before{
    margin-right: 5px;
}

.badge.badge-pill.mr-2.mt-2{
    box-shadow: none !important;
}

.article_list a.list_title{
    color: #28a745;
}

del.currency{
    text-decoration-style: double;
}

.forgotLnk{
    color: #555 !important;
}

.copy{
    color: antiquewhite;
}
.search-btn.btn.btn-outline-success.my-2.my-sm-0{
    height: 32px !important;
    background: #e9ebec !important;
    padding-top: 7px;
    
}


/* footer section style begins */

section {
    padding: 60px 0;
}

.showcase{
    padding-top: 0%;
}

.fa.fa-phone, .fa-envelope{
    margin-right: 10px;
}

.secondary_footer{
    min-height: 120px !important;
    background: rgb(18, 27, 48);
}

.form-control.newsletter.emailinput.form-control{
    background-color: #ced4da !important;
    height: 44px !important;
    border-radius: 0;
}

.secondary_footer_btns a.btn.btn-outline-default.mt-5{
    border: 1px solid rgb(182, 185, 187) !important;
    color: rgb(202, 205, 207) !important;
}

section .section-title {
    text-align: center;
    color: #003300;
    margin-bottom: 50px;
    text-transform: uppercase;
}

section.legal{
    background: rgb(42, 66, 110);
    margin-top: 75px;
    border-bottom: 1px solid #777;
    background: linear-gradient(to top, green 0%,rgb(26, 48, 90) 100%);
}

.main-head h1{
    font-size: 2.5em;
    margin-top: 15px;
    font-weight: 800;
    color: #FFFFFF;
}

.main-head p{
    color: #F1F1F1;
    font-size: 1em;
}

section.policy-content{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: ghostwhite;
}

.policy-main-content p{
    font-size: 1em;
}

.policy-main-content li{
    font-size: 1em;
}

a.policy_list{
    color: #999 !important;
    font-weight: 500;
}

.edit-profile h2{
    margin-top: 70px;
    margin-bottom: 0;
}

/* footer section style begins */
#footer {
    background: #061f06 !important;
   
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#CCCCCC;
    text-transform: uppercase;
}
#footer a {
    color: #CCCCCC;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
    transition: .5s all ease;
    color: #d6f8f5;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#CCCCCC;
}
#footer ul.social li a:hover{
	color:#CCCCCC;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.row.site-footer{
    border-top: 1px solid #CCCCCC;
}

#footer p{
    color: #CCCCCC !important;
}

#footer p.i{
    color: #CCCCCC ;
}

a.designed_by{
    color: rgb(148, 145, 145) !important;
    font-size: 11px;
}

/* footer section style ends */

/* Media Queries */


@media screen and (max-width:768px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  ul.navbar-nav.mr-auto.mainNavMenu{
      margin-left: 30px !important;
      margin-right: 30px !important;
  }
  #footer li{
      font-size: 11px !important;
  }
  #footer h5{
      font-size: 16px;
  }
  p.contact{
    font-size: 11px;
    width: 130%;
  }
  .searchbox{
      display: none;
  }
  #landing_bg_wrapper{
      padding-top: 30px;
  }
  .bg_layer h1{
      font-size: 1.8em !important;
      padding-top: 20px;
  }
  h1.shrink{
      margin-top: 35px !important;
  }
  .bg_layer img{
      top: 42% !important;
      width: 40% !important;
      padding-top: 35px;    
  }
  .btn{
      margin-top: 25px !important;
  }
  #section-b{
      padding-top: 30px !important;
      padding-left: 40px !important;
  }
  .card.main-content img{
      height: 230px !important;
  }
  .just_about{
      margin-top: 5px !important;
  }
  .btn.btn-success.btn-lg.showcase-btn.about_us_btn{
      margin-top: 10px !important;
  }
  input.btn.btn-success.btn-lg{
      margin-top: 5px !important;
  }
  a.btn.btn-outline-default.mt-5.waves-effect.waves-light{
      margin-top: 5px !important;
      margin-bottom: 40px !important;
  }
 h2.signup-screen{
     font-size: large;
 }
  div#div_id_i_have_gone_through_and_accept_terms_and_condtions.form-check{
      display: inline-block !important;
      width: 200% !important;
  }
  a.forgotLnk{
      width: 200% !important;
      display: block;
      padding-top: 20px;
  }
  input.btn.btn-outline-success.signup{
      margin-top: 5px !important;
      display: block !important;
  }
  input#id_username, input#id_password{
      width: 140% !important;
  }
  .login-btn.btn.btn-success.waves-effect.waves-light{
    min-width: 140% !important;
    margin-top: 15px !important;
  }
  .signup_cta_btn.btn.waves-effect.waves-light{
    min-width: 140% !important;
  }
  .col-sm-6.secondary_footer_btns.float-right{
     display: inline-flex;
     position: absolute;
     margin-top: 100px;
     margin-left: 170px;
  }
  a.btn.btn-outline-default.mt-5.waves-effect.waves-light{
      font-size: 7px !important;
  }
  .secondary_footer{
      min-height: 180px !important;
  }
  input#id_email.form-control.newsletter.emailinput.form-control{
      width: 170% !important;
      margin-left: 70px;
      height: 35px !important;
  }
  span.newsletter-subscribe.waves-input-wrapper.waves-effect.waves-light{
      margin-left: 236px !important;
      height: 40px !important;
  }
  input.btn.btn-success.btn-lg.newsletter-subscribe{
      padding-top: 10px !important;
  }
  
}

/* footer section style ends */