{% extends "base_file.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block reset_password %}
    <section style="margin-top: 60px">
        <div class="container" style="background: none;>
            <div class="alert alert-info">
                Your password has been successfully reset. 
                 <div class="update_delete_btn">
                    <a class="btn btn-outline-secondary btn-sm mt-3 mb-1 mr-2 update-article-cta" href="{% url 'login' %}">Click to Login Now</a>
                 </div>
            </div>              
        </div>
    </section>
{% endblock %}