{% extends 'base_file.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block signup%}   
    <section class="signup-banner" style="background-color: rgb(245, 239, 239)">
        <div class="container signup_page">
            <h2 class="signup-screen" style="text-align: center; padding-top: 25px;">Welcome, enter required fields to create an account.</h2>
            <br>
            <form class="sign-form" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group offset-md-3 col-md-3 mb-0">
                        {{form.first_name|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{form.last_name|as_crispy_field}}  
                    </div>
                </div>
                <div class="form-row register">
                    <div class="form-group offset-md-3  col-md-3 mb-0">
                        {{form.username|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{form.email|as_crispy_field}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group offset-md-3  col-md-3 mb-0">
                        {{form.password1|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{form.password2|as_crispy_field}}
                    </div>
                </div>
                <br>
                <!-- Default checked -->
                <div class="form-group offset-md-3 col-md-4 mb-0">
                    <span class="mr-3">
                        {{form.i_have_gone_through_and_accept_terms_and_condtions|as_crispy_field}} 
                    </span>
                </div>
                <div class="form-group offset-md-3  col-md-4 mb-0 signup" style="padding-left: 0;">
                    <input type="submit" value="Sign Me Up" class="btn btn-outline-success signup"> 
                    <a class="forgotLnk ml-4" href="{% url 'reset_password' %}">I've an account but can't access it</a>  
                </div> 
            </form>
        </div>
        <br>
    </section>
{% endblock %}