{% extends "base_file.html" %}
{% load static %}

{% block title %}
  <title>Nature's Signs | Buy Natural Health Products and Organic Formulations with Proven Results</title>
{% endblock %}

<!-- Some meta tags-->
{% block meta_tags %}
    <meta name="description" content="Nature's Packages and Markets Proven Natural Health Products Trusted and Used By Many">
{% endblock %}

{% block  store %}
<section class="text-center mb-4" style="margin-top: 60px;">
    <div class="container">
        <div class="row wow fadeIn">
            {% if items %}
            {% for item in items %}
                {% if item.image %}
                    <!-- A Product Start -->
                    <div class="col-md-3 col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <a href="{% url 'product_detail' slug=item.slug %}"><img src="{{ item.image.url }}" class="img-responsive "></a>
                            <div class="card-body text-center">
                              <strong>
                                <a href="{% url 'product_detail' slug=item.slug %}" class="dark-grey-text">{{item.title}}
                                   <span class="badge badge-pill danger-color" >New</span>
                               </a>
                              </strong>
                              {% if item.discount_price %}
                              <span class="mr-1">
                                <del><del class="currency">N</del>{{ item.price }}</del>
                              </span>
                              <span><span>Slashed:  </span><del class="currency">N</del>{{ item.discount_price }}</span>
                              {% else %}
                              <span><del class="currency">N</del>{{ item.price }}</span>
                              {% endif %}
                              <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="row">
                <h4 class="offset-lg-7 col-lg-12">No product to display at this moment, kindly check back later!</h4>
            </div>
        {% endif %}
       </div>
    </div>
</section>

{% endblock %}