{% extends "base_file.html" %}
{% load static %}

{% block view_blog %}
    <section id="all_posted_products" style="margin-top: 90px;">
        <div class="container">
            <div class="row wow fadeIn">
                    {% if adverts %}
                    {% for advert in adverts %}
                        {% if advert.image %}
                            <!-- A Product Start -->
                            <div class="col-md-3 col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <a href=""><img src="{{ advert.image.url }}" class="img-responsive "></a>
                                    <div class="card-body text-center">
                                      <strong>
                                        <a href="" class="dark-grey-text">{{advert.label}}
                                           <span class="badge badge-pill danger-color" >New</span>
                                       </a>
                                      </strong>
                                      {% if advert.discount_price %}
                                      <span class="mr-1">
                                        <del><del class="currency">N</del>{{ advert.price }}</del>
                                      </span>
                                      <span><span>Slashed:  </span><del class="currency">N</del>{{ advert.discount_price }}</span>
                                      {% else %}
                                      <span><del class="currency">N</del>{{ advert.price }}</span>
                                      {% endif %}
                                      <p>{{ advert.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <h4 class="offset-lg-7 col-lg-12">No product to display at this moment, kindly check back later!</h4>
                    </div>
                {% endif %}        
            </div>
        </div>
    </section>
  
{% endblock  %}