<div class="offset-md-1 col-md-3">
    <div class="content-section" style="margin-bottom: 70px">
        <h4>Don't Miss Anything Important</h4>
        <p class="text-muted">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Read Latest Articles</li>
                <li class="list-group-item list-group-item-light">News Updates & Feeds</li>
                <li class="list-group-item list-group-item-light">Send Us Feedback</li>
                <li class="list-group-item list-group-item-light">Become a Contributor</li>
                <li class="list-group-item list-group-item-light">Comment on Article</li>
            </ul>
        </p>
    </div>
</div>