{% extends "base_file.html" %}
{% load static %}

{% block blog_detail %}
<section id="blog_detail" style="margin-top: 60px;">
  <div class="container article">
      <div class="row">
          <div class="col-md-8">
              <div class="content-section">
                  
                      <h5 class="mr-2">By {{object.created_by}}</h5>
                      <small class="text-muted">{{object.date}}</small>
                      {% if object.created_by == user %}
                        <div class="update_delete_btn">
                            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 mr-2 update-article-cta" href="{% url 'article_update' object.slug %}">Update</a>
                            <a class="btn btn-outline-danger btn-sm mt-1 mb-1 update-article-cta" href="{% url 'article_delete' object.slug %}">Delete</a>
                        </div>
                      {% endif %}
                      <h3 style="margin-top: 25px">{{object.title}}</h3>
                      <p >{{object.detail}}</p>
                  
              </div>    
            </div>
            {% include "blog/article_sidebar.html" %} 
        </div>
    </div>
</section>
{% endblock %}
