{% extends "base_layout.html" %}

{% block title %}
<title>Blog: Naturessigns Ltd</title>
{% endblock title %}

{% block articles %}
<main role="main" class="article_list">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                {% if articles %}
                <h3>Our Informative Articles</h3>
                {% for article in articles %}
                {% if article.title %}
                <!-- Article Start -->

                <h5><a class="list_title" href="{% url 'article_detail' slug=article.slug %}">{{article.title}}</a>
                    <small>~ By {{article.created_by}}</small></h5>
                <p>Published: {{article.date}}</p>
                {% endif %}
                {% endfor %}
                {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">first</a>
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">last</a>
                {% endif %}
                {% endif %}
            </div>
            {% include "blog/article_sidebar.html" %}
            {% else %}
                <div class="alert alert-info mb-5" role="alert">
                    No articles at this moment, you may please check back later!
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}